[report]
# Regexes for lines to exclude from consideration
exclude_lines =

# unreachable (non-executable) statements
    pragma: unreachable

# fatal error code
    pragma: fatal

# standard pragma
    pragma: no cover

# debug
    def __repr__

# exceptions
    except
    raise

partial_branches =

# standard pragma
    pragma: no branch

partial_branches_always =

# branches always taken
    pragma: branch_always

    while True:
    while 1:
    while False:
    while 0:
    if True:
    if 1:
    if False:
    if 0:

[report]

precision = 1
show_missing = 1

[html]

title = "Coverage report"
